<!DOCTYPE html>

<html ng-app="module_home">
<head>
    <title>Jail Ids</title>
    <script src="/lib/angular/min/angular.min.js"></script>
    <script src="/lib/angular/min/angular-ui-router.min.js"></script>

    <link href="/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/headers.css" rel="stylesheet" />

    <script src="/angular/modules/jail_ids.module.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="center">Jail Ids</h1>
    </div>
</body>
</html>
